<div class="page-graph">
    <div class="panel panel-default">
        <div class="panel-heading">Power</div>
        <div class="panel-body">
            <highchart config="power_chart"></highchart>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Navigation</div>
        <div class="panel-body">
            <highchart config="nav_chart"></highchart>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Thrusters</div>
        <div class="panel-body">
            <highchart config="thruster_chart"></highchart>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Status</div>
        <div class="panel-body">
            <highchart config="status_chart"></highchart>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Environment</div>
        <div class="panel-body">
            <highchart config="environment_chart"></highchart>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Command and Telemetry</div>
        <div class="panel-body">
            <highchart config="telem_chart"></highchart>
        </div>
    </div>
</div>
