<div class="panel panel-default">
    <div class="panel-heading">
        Telemetry
        <span class="label label-primary pull-right">Update <span am-time-ago="last_update.items[0]._date"></span></span>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <google-map center="map.center" zoom="map.zoom" options="map.options" draggable="true" ng-if="actual_path.path.length > 0">
                    <polyline path="actual_path.path" stroke="actual_path.stroke" icons="actual_path.icons"></polyline>
                </google-map>
            </div>
            <div class="col-md-6">
                <pre>{{last_update.items[0].data | json}}</pre>
            </div>
        </div>

        <highchart config="chart">
        </highchart>
    </div>
    <div class="panel-footer">
        <small>{{last_update.meta.count}} total messages</small>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Commanding
    </div>
    <div class="panel-body">
        todo...
    </div>
</div>

