<div class="page-map">
    <google-map center="map.center" zoom="map.zoom" options="map.options" draggable="true" events="map.events" ng-if="actual_path.path.length > 0">
        <polyline path="actual_path.path" stroke="actual_path.stroke" icons="actual_path.icons"></polyline>
        <markers models="actual_path.path" coords="'self'" fit="true" icon="'icon'">
        </markers>
        <marker coords="surfer_marker.coords" options="surfer_marker.options" events="surfer_marker.events" idkey="marker.id"></marker>
        <marker coords="user_marker.coords" options="user_marker.options" icon="user_marker.icon" idkey="marker.id"></marker>
    </google-map>
</div>
