<div class="page-settings">

  <div class="panel panel-default">
    <div class="panel-heading">
      App Configuration
    </div>
    <div class="panel-body">

      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-2 control-label">Vehicle / Mission</label>
          <div class="col-sm-10">
            <select class="form-control" ng-model="settings.mission" ng-options="mission._id as mission.name for mission in missions.items">
            </select>
            <p class="help-block">Telemetry from this mission is shown throughout the app.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">API Token Secret</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" ng-model="settings.token" placeholder="API Token Secret">
            <p class="help-block">Required for POST and PUT requests to the API. Leave blank if only viewing telemetry.</p>
          </div>
        </div>
      </form>

    </div>
  </div>
  <div class="panel panel-default" ng-repeat="vehicle in vehicles.items">

    <div class="panel-heading">
      Vehicle [{{vehicle.name}}]
    </div>
    <div class="panel-body">

      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Name" ng-model="vehicle.name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">IMEI</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="International Mobile Equipment Identity" ng-model="vehicle.imei">
            <p class="help-block">Incoming telemetry is assigned to current mission of the vehicle with matching imei.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label">Missions</label>
          <div class="col-sm-10">

            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Date Created</th>
                  <th>Current Mission</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="mission in missions.items" ng-if="mission.vehicle == vehicle._id">
                  <td><input type="text" class="form-control" placeholder="Name" ng-model="mission.name"></td>
                  <td>{{mission._date}}</td>
                  <td><input type="radio" ng-model="vehicle.current_mission" ng-value="mission._id"></td>
                  <td><button class="btn" ng-click="saveMission(mission)" ng-class="{'btn-primary': !mission.$status, 'btn-success': mission.$status == 200, 'btn-danger': mission.$status >= 300}">Save</button></td>
                </tr>
              </tbody>
            </table>
            <button class="btn btn-default pull-right" ng-click="addMission(vehicle)">Add Mission</button>

          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" ng-click="saveVehicle(vehicle)" ng-class="{'btn-primary': !vehicle.$status, 'btn-success': vehicle.$status == 200, 'btn-danger': vehicle.$status >= 300}">Save Vehicle</button>
          </div>
        </div>
      </form>

    </div>
  </div>

</div>
