<div class="panel panel-default page-telemetry">
  <div class="panel-heading">
    Telemetry History
    <span class="pull-right">showing the last few messages</span>
  </div>
  <div class="panel-body">
    <div ng-repeat="item in telemetry | orderBy:'-_date' | limitTo: 10">
      {{item._date}}
      <span class="label collapse-button" ng-init="collapsed=!$first&&true" ng-class="{'label-default': collapsed, 'label-primary': !collapsed}" ng-click="collapsed=!collapsed">...</span>
      <span class="pull-right">{{item._ip}}</span>
      <pre ng-if="!collapsed">{{item | json}}</pre>
    </div>
    <div ng-if="!telemetry.length">
      <p>No telemetry history...</p>
    </div>
  </div>
</div>
